{% extends 'base.html' %}
	{% block head %}
	<title>Task Master</title>
	{% endblock %}

	{% block body %}
	<div class='Content'>
		<h1 style="text-align: center">Update Task</h1>

		<form action="/update/{{task.id}}" method=POST>
			<input type="text" name="content" id="content" value="{{task.content}}">
			<select name=status method="GET" action="/">
					    {% for status in status_list %}
					    <option value= "{{status}}" SELECTED>{{status}}</option>"
					    {% endfor %}
			</select>
			<input type="submit" value="Update Task" id="button">
		</form>
	</div>
	{% endblock %}
